<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://www.example.org/web-app_2_5" 
			xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
			xsi:schemaLocation="http://www.example.org/web-app_2_5 web-app_2_5.xsd"
			version="2.5">
		<servlet>
			<servlet-name>Servlet</servlet-name>
			<servlet-class>study.xml.servlet.MyServlet</servlet-class>
		</servlet>	
		<servlet-mapping>
			<servlet-name>Servlet</servlet-name>
			<url-pattern>/hello</url-pattern>
		</servlet-mapping>		
		<servlet>
			<servlet-name>Servlet1</servlet-name>
			<servlet-class>study.xml.servlet.MyServlet1</servlet-class>
		</servlet>	
		<servlet-mapping>
			<servlet-name>Servlet1</servlet-name>
			<url-pattern>/hello1</url-pattern>
		</servlet-mapping>		
		
</web-app>