<?xml version="1.0" encoding="utf-8"?> 
<!DOCTYPE web-app SYSTEM "web-app_2_3.dtd">
<web-app>
	<servlet>
		<servlet-name>Hello</servlet-name>
		<servlet-class></servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Hello</servlet-name>
		<url-pattern> </url-pattern>
	</servlet-mapping>

</web-app>